 body{
    overflow: hidden;
    background: #333;
    padding: 0;
    margin: 0;
  }

  .target-range{
    fill: #666;
    fill-opacity: .3;
    shape-rendering: crispEdges;
  }

  .sugar-line{
    fill: none;
    stroke: #f7f7f7;
    stroke-width: 1px;
    stroke-opacity: .8;
  }

  .currentDate{
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke: #f00;
    stroke-width: 2px;
  }

  .axis {
    shape-rendering: crispEdges;
    font-family: arial, sans-serif;
    font-size: 12px;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #ddd;
  }

  .glucose-sample{
    fill: #f7f7f7;

    fill-opacity: .8;
  }
  #date{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 100;
  }